* {
  padding: 0px;
  margin: 0px;
  font-family: 'Odibee Sans', cursive;
  list-style: none;
}

.cover {
  width: 480px;
  padding: 75px;
}

.album-covers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

ol {
    text-shadow: 0 0 6px black;
}

.album-text {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 600ms;
  text-shadow: 0 0 3px black;
}

section:hover .album-text {
  opacity: 1;
}

section:hover img{
  -webkit-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  -o-filter: blur(1px);
  filter: blur(1px);
  transform: scale(1.03);
}
